.gForm {
  width: 90%;
  height: 50%;
  padding: 20px;
  background-color: #fff;
  box-sizing: border-box;
  margin-left: 65px;
  border-radius: 10px;
}

h1,
h6 {
  margin-bottom: 20px;
  color: #1f2d3d;
  font-family: Arial, sans-serif;
}
.form-container {
  display: flex;
  margin: 10px;
  justify-content: space-between;
  gap: 20px;
}
.surname {
  margin-bottom: -15px;
}
.division {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.min-division {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.input1,
.input22,
.input32 {
  width: 500px;
  height: 35px;
  margin-bottom: 60px;
  border: 1px solid #dfe4ea;
  border-radius: 4px;
  background-color: #f1f3f5;
}

.input66 {
  width: 342px;
  height: 35px;
  margin: 1px;
  margin-bottom: 40px;
  border: 1px solid #dfe4ea;
  border-radius: 4px;
  background-color: #f1f3f5;
}
.input667 {
  width: 500px;
  height: 35px;
  margin: 5px;
  margin-bottom: 40px;
  border: 1px solid #dfe4ea;
  border-radius: 4px;
  background-color: #f1f3f5;
}
.text {
  margin-bottom: 20px;
}

.form-group input:focus {
  border-color: #007bff;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.25);
}
.llform {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.head6 {
  margin-top: -20px;
}

/* .button {
  margin-left: 80%;
  margin-top: 20px;
} */

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
@media screen and (max-width: 780px) {
  .gForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 0;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .lform {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .input1,
  .input22,
  .input66,
  .input667 {
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
}
